<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MetalBasicTessellation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB3D875E1F5D974A0010FFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB3D87721F5D974A0010FFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB3D877D1F5D974A0010FFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
